<p id="notice"><%= notice %></p>

<p>
  Funcionario: <%= @venda.Funcionario.try :nome %>
</p>

<p>
  Cliente: <%= @venda.Cliente.try :nome %>
</p>

<p>
  Desconto: <%= @venda.desconto %>
</p>

<p>
  Preco total: <%= @venda.preco_total %>
</p>


<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
